.container {
  width: 1000px;
  margin: 0px auto;
  text-align: center;
  height: 450px;
}


.container h2 {
  padding: 20px 0 0 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cards-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 230px;
  height: 250px;
  padding: 30px;
  text-align: center;
  font-size: 15px;
}

.cards-item p {
  font-size: 15px;
}
